# Copyright (c) 2024 Mysteryassss
# SPDX-License-Identifier: MIT

if BOARD_DEOW

config ZMK_KEYBOARD_NAME
    default "Mystery_60_BLE"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif #
